body {
font-size: 150%;
}
.paraFont{
    font-size: 85%;
}
.secondparafont{
    font-size: 100%;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.tab {
 margin-left: 1em;
}

.tab2 {
 margin-left: 1.5em;
}

.tab3 {
 margin-left: 2.3em;
}
.tab4 {
 margin-left: 0.7em;
}

.mt-0 {
  margin-top: 1em !important;
}