{% extends "base.html" %}
{% block content %}


<h6> <span style="float:right">Page 1</span></h6>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<div class="container">
<header class="mt-12">
    <div id="heading" class="p1">
    <h2><strong>Git</strong></h2>
        </div>
</header>

    <div id="heading" class="p1">
    <h3>Branches: </h3>
</div>

   <div id="paragraph" class="paraFont p1">
    <p>
        Developers can use it branching to deviate from the production version of
        code in order to correct an issue or add a feature. Developers construct branches. So
        they can work on a duplicate of the code without changing the original. We make
        branches to separate our code changes and test them before merging them into
        the main branch.
    </p>
       <p>
           The main branch has nothing unique to offer. When we use the “git init” command to create a Git repository,
           it creates the first branch.
       </p>
       <p>
           We can creat many branches in Git. We can give random names to it also. However, we need to define one branch
           as a main/master branch default in our repository.
       </p>
       <div id="heading" class="p1">
           <h3>Merge: </h3>
       </div>
       <p>
           The git merge command allows you to combine the several development lines established by git
           branch into a single branch.
       </p>
       <p>
           Git merge combines numerous commit sequences into a single unified history. Git merge is used to
           merge two branches in the most common usage situations.
       </p>
       <p>
           For Instance, we have a new branch feature based on the main branch. This feature branch will now be merged
           into main. Calling
           “Merge” command merges the specified branch functionality into the current branch. Consider it as main. Git
           automatically
           determines the merge algorithm.
       </p>
       <div id="heading" class="p1">
           <h3>Commit: </h3>
       </div>
       <p>we use “Commit “command to save our changes to the local repository.
           We should always add a message when we commit. </p>
       <p>

           Git assigns a unique SHA-1 hash to each snapshot of files when we make a commit. Git produces a new pointer
           to the same commit that the main branch is currently on when we create a branch. Both branches have the
           identical code snapshot at this time.

       </p>
       <p>
           By adding clear messages to each commit an pushing it to the Github, it is easy for everyone to see what has
           changed in the code and when. “--amend” option help us to rewrite the most commit with any changes that have
           been staged and/or a new commit message.
       </p>
       <div id="heading" class="p1">
           <h3>Tags: </h3>
       </div>
       <p>
           Tags are references (refs) which point to a particular portion of a Git repository's history.
       </p>
       <p>
           Tags offer assistance in distinguishing distinctive commits that are vital sufficient to be recognized or be
           taken note. For case, Tagging a commit with discharge adaptation 3.0 implies that commit was the ultimate commit some time
           recently the dispatch of the 3.0 adaptation of the computer program. In addition, it is helpful and simple.
           GitHub gives an entire diverse segment to see at the tags and analyze them there.
       </p>
       <p>
           There are two types of tags. One is Annotated tag and another one is Light-weighted tag. Both of these tags
           are similar, but they are different in terms of the amount of Metadata stores.
       </p>
       <div id="heading" class="p1">
           <h3>Repository: </h3>
       </div>
       <p> A Git repository is the .git/ folder internal a project. This repository tracks all modifications made to
           documents on our project, constructing a records over time. </p>

       <p>
           Version Control System is used to create these versions for work and store them in a specific place(in our
           compute) termed as a repository.</p>
       <p>
           We can delete and create a new repository for number of times regarding project.
       </p>


   </div>

   </div>




<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


</html>
{% endblock %}